.header {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: alimamafangyuanti;
}

.shopItem {
    padding: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-family: alimamafangyuanti;

    img {
        width: 35px;
        height: 35px;
        margin-right: 5px;
        border-radius: 4px;
    }

    .title {
        font-size: 12px;
        color: #a6a6a6;
        font-family: alimamafangyuanti;
    }

    .desc {
        font-size: 14px;
        font-family: alimamafangyuanti;
    }
}

.itemData {
    box-shadow: 0px 0px 10px 5px rgba(199,199,199,0.3);
    border-radius: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: alimamafangyuanti;

    .itemTitle {
        font-size: 18px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;

        img {
            width: 24px;
        }

        span {
            display: inline-block;
            margin: 0 10px;
        }
    }

    .itemContent {
        display: flex;
        justify-content: space-around;
    }
}

.nItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    padding-left: 15px;
    margin-bottom: 5px;
    position: relative;
    font-family: alimamafangyuanti;

    .title {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        span:nth-child(2) {
            color: #3670ef;
            display: inline-block;
            margin-top: 1px;
        }
    }

    .desc {
        margin-bottom: 5px;
    }

    .price {
        margin-bottom: 5px;

        span:nth-child(2) {
            color: #3670ef;
        }
    }

    .recommended {
        margin-bottom: 5px;
        font-size: 20px;
        color: #d9a757;
        position: relative;
    }

    .desc1 {
        color: #a6a6a6;
        font-size: 16px;
        font-family: alimamafangyuanti;
    }
}

.tishi {
    position: fixed;
    right: 140px;
    bottom: 10px;
    font-family: alimamafangyuanti;
    font-size: 16px;
    background-color: #fff;

    .arrow {
        position: fixed;
        bottom: 20px;
        right: 80px;
        animation: second 3s linear infinite;
    }
}

.itemTitle1 {
    color: #d0dffd;
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-family: alimamafangyuanti;
}

.tuijian {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -40px;
    top: -5px;
    animation: first 1.5s linear infinite;
}

@keyframes first {
    0%{
        transform: rotate(0);
    }
    25%{
        transform:rotate(10deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}

@-webkit-keyframes first {
    0%{
        transform: rotate(0);
    }
    25%{
        transform:rotate(10deg);
    }
    50%{
        transform: rotate(0);
    }
    75%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes second {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(15px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0);
    }
}

@-webkit-keyframes second {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(15px);
    }
    50%{
        transform: translateX(0);
    }
    75%{
        transform: translateX(-15px);
    }
    100%{
        transform: translateX(0);
    }
}

.idone {
    width: 100%;
    padding: 0 20px;
    font-family: alimamafangyuanti;
    font-size: 18px;
    line-height: 24px;

    .tishidesc {
        width: 100%;
        padding: 20px;
        border: 1px dashed #999;
        border-radius: 10px;
        margin-top: 10px;
        color: #999;
    }

    img {
        width: 100%;
    }
}

.idtwo {
    width: 100%;
    padding: 0 20px;
    font-family: alimamafangyuanti;
    font-size: 18px;
    line-height: 24px;

    div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4) {
        text-indent: 38px;
        position: relative;
    }

    div:nth-child(1)::after, div:nth-child(2)::after, div:nth-child(3)::after, div:nth-child(4)::after {
        width: 3px;
        height: 3px;
        background-color: #000;
        content: '';
        position: absolute;
        left: 20px;
        top: 8px;
        border-radius: 3px;
    }

    .tishidesc {
        width: 100%;
        padding: 20px;
        border: 1px dashed #999;
        border-radius: 10px;
        margin-top: 20px;
        color: #999;
    }
}

.idthree {
    width: 100%;
    padding: 0 20px;
    font-family: alimamafangyuanti;
    font-size: 18px;
    line-height: 24px;

    div:nth-child(1) {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
    }

    .tishidesc {
        width: 100%;
        padding: 20px;
        border: 1px dashed #999;
        border-radius: 10px;
        margin-top: 10px;
        color: #999;
    }
}

.shuoming {
    width: 100%;
    text-align: center;
    color: #999;
    font-family: alimamafangyuanti;
}